
<div class="textbody about">
	<div class="abouttext">
<h1>About</h1>
		<p>I’m Gioia, a roaming blogger who’s lucky enough to call the world home. <br> I fill these pages with my life and adventures. <br> It all started as a way to stay in touch with friends and family everywhere. <br> This app is created to learn Ruby on Rails. <br> <br> I hope you have some fun!</p>

	</div>