
<div class="contact">
	<div class="textbody">
		<h1>Contact</h1>
		<h2>Use Mail or Phone:</h2>

		<div class="contactinfo container">
			<p><span class="glyphicon glyphicon-envelope"><a href="mailto:usedbikeshop@berlin.de"></span>gioia_bikes@berlin.de</a></p>
			<p><span class="glyphicon glyphicon-phone"></span>030-347652</p>
		</div><!-- end contactinfo -->

		<h3>We are there for you</h3>
		<p class="adress"><p>Gioia-Kitty Mansard <br> Rheingaustr. 1 <br> 65375 Oestrich-Winkel <br> Germany</p>
	</div>
</div>